@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  color: $purple;
  font-size: 4rem;
  font-weight: 500;
}

.label {
  font-size: 2rem;
  font-weight: 500;
}
