.canvas {
  width: calc(100%);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  z-index: 100;
}
