@import '../../styles/theme.module.scss';
@import '../../styles/font.module.scss';

.container {
  @include poppins-bold;
  margin: 0 auto;
  padding: 8rem 4rem;
  width: 93.4rem;
  font-size: 4rem;
}

.weeklyStudies {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 2.4rem;
}

.topStudies {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.filterContainer {
  display: flex;
  gap: 3rem;
}

.filter {
  padding-bottom: 0.4rem;
  font-size: 2.4rem;
  border-bottom: 3px solid transparent;
}

.selected {
  border-bottom: 3px solid $green;
}
