@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';
.main {
  @include poppins-regular;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.member {
  font-size: 1.5rem;
}
