@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';
.main {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
}

.header {
  font-size: 2rem;
  font-weight: 500;
}

.members {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
}
.member {
  font-size: 1.5rem;
}
