.calendar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fc {
  width: 40vw;
  height: 40vh;
  text-align: center;
}

.fc-day-sun {
  div {
    a {
      color: red;
    }
  }
}

.fc-day-sat {
  div {
    a {
      color: blue;
    }
  }
}
