@import '../../styles/font.module.scss';

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.4rem;
  gap: 3.2rem;
}
