@import '@/styles/theme.module.scss';
@import '@/styles/font.module.scss';

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid $gray;
  z-index: 200;

  @media screen and (max-width: 880px) {
    // width: 80%;
    transform: translate(-50%, -40%);
  }
}

.fill {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  z-index: 400;
}

.problemTitle {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.problemContent {
  margin-top: 20px;
}

.sectionTitle {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.descriptionText,
.inputDescriptionText,
.outputDescriptionText,
.sampleInputText,
.sampleOutputText {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.openButton {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.problemModalContainer {
  @include poppins-regular;
  @include scrollable-container;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100rem;
  max-height: calc(100vh - 7rem);
  padding: 4rem;
  background-color: $white;
  border: 1px solid $gray;
  font-size: 1.6rem;
  overflow: auto;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.backjunbutton {
  display: flex; // Use flexbox for easy centering
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  margin-top: 20px; // Add some space above the button

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      background-color: #0056b3;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: #003d80;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    }
  }
}
