@import '../../styles/theme.module.scss';

.modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  border: 1px solid $gray;
  z-index: 200;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  z-index: 200;
}
