.header {
  background-color: gray;
  border-width: 1rem;
  font-size: 3rem;
  margin-top: 1rem;
}
.content {
  background-color: aqua;
  border-width: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

:empty:before {
  content: '내용을 입력하세요';
}
