@import '../../styles/theme.module.scss';
@import '../../styles/font.module.scss';

.button {
  @include poppins-semibold;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  gap: 1rem;
}

.black {
  color: $white;
  background-color: $black;
  border: 2px solid $black;
}

.green {
  color: $white;
  background-color: $green;
  border: 2px solid $green;
}

.empty {
  color: #000;
  background-color: #fff;
}

.large {
  height: 6.6rem;
  font-size: 2.4rem;
}

.small {
  height: 3.8rem;
  font-size: 1.6rem;
}
