@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  padding: 1rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px $gray;
}

.profile_image {
  -webkit-user-drag: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.right {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 4rem;
}

.name {
  color: $darkgray;
  font-size: 1.6rem;
  font-weight: bold;
}

.point {
  font-size: 1.6rem;
}

.p {
  color: $blue;
}
