@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';

.main {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 10rem;
  width: 20rem;
}

.name {
  font-size: 2.5rem;
  font-weight: 500;
  word-break: keep-all;
  line-height: 1.5;
}

.intro {
  color: $darkgray;
  font-size: 1.2rem;
}
