@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';

.main {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 20rem;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  width: 16rem;
}
.mid {
  color: $darkgray;
  font-size: 1.2rem;
}
.bottom {
  color: $lightred;
  font-size: 1.2rem;
}
