@import '@/styles/theme.module.scss';
@import '@/styles/font.module.scss';

.header {
  @include poppins-semibold;
  position: sticky;
  top: 0;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: $white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 150;
}
.header_item {
  display: flex;
  width: 30rem;
}
.left_item {
  display: flex;
  justify-content: left;
}
.middle_item {
  display: flex;
  justify-content: center;
}
.right_item {
  display: flex;
  justify-content: right;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1.6rem;
}
.button {
  background-color: transparent;
  border: none;
}
.login {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.headerSidebarContainer {
  position: absolute;
  top: 7rem;
  left: 0;
  height: calc(100vh - 7rem);
  width: 2rem;
  z-index: 150;

  .headerSidebar {
    @include poppins-regular;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: absolute;
    height: calc(100vh - 7rem);
    width: 22rem;
    padding: 2.4rem;
    background-color: $white;
    font-size: 1.8rem;
    box-shadow: 8px 0px 5px -2px rgba(0, 0, 0, 0.1);

    .itemWrapper {
      overflow: auto;

      .sidebarItem {
        height: 3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }
}

.visible {
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out;
}

.hidden {
  transform: translate(-100%, 0);
  transition: all 0.5s ease-in-out;
}
