@import '@/styles/font.module.scss';
@import '@/styles/theme.module.scss';

.modal {
  @include poppins-regular;
  position: fixed;
  top: 5.5rem;
  right: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.alarm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logout {
  align-self: flex-end;
}

.number {
  color: #ffffff;
  background-color: #ffa500;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
