@import '@/styles/theme.module.scss';
@import '@/styles/font.module.scss';

.main {
  @include poppins-regular;
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: 0 auto;
  padding: 6rem 0rem;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.main_mid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.small_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 400;
  flex: 1 1 0;
}

.study_members {
  display: flex;
  flex: 1 1 0;

  .members {
    @include scrollable-container;
    display: flex;
    flex-direction: column;
    height: 16rem;
    overflow: auto;

    .member {
      display: flex;
      width: 100%;
    }
  }
}

.new_member {
  display: flex;
}

.add_button {
  transform: rotate(45deg);
}
